/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "chakra";
  src: url("../scss/font/chakra/ChakraPetch-Bold.ttf") format("truetype"); }

.cuerpo {
  background-image: url(../img/bg_index.gif);
  background-size: cover;
  background-repeat: no-repeat;
  color: #131313;
  font-family: "chakra"; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .cuerpo {
      background-size: 100vw 200vh; } }

.navbar-brand {
  color: #131313; }

.navbar-nav .nav-link {
  color: #131313; }

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #131313;
  border-radius: 5px; }

main {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  background-color: white;
  padding: 4rem;
  margin: 4rem;
  border-radius: 10px; }
  main h1 {
    color: #131313; }
  main h2 {
    color: #6600ff; }
  @media (max-width: 768px) {
    main {
      padding: 2rem;
      margin: 2rem;
      background-size: cover; } }
  @media (max-width: 480px) {
    main {
      padding: 1rem;
      margin: 1rem;
      background-size: cover; } }

footer {
  text-align: center; }
  footer p {
    color: #131313; }
  @media (max-width: 768px) {
    footer {
      font-size: 14px; } }
  @media (max-width: 480px) {
    footer {
      font-size: 12px; } }

.main-portafolio {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  background-color: white;
  padding: 4rem;
  margin: 4rem;
  border-radius: 10px; }
  .main-portafolio .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .main-portafolio .section .image-left {
      margin-right: 1rem;
      border-radius: 15px;
      max-width: 100%; }
    .main-portafolio .section .text-left {
      text-align: left;
      font-size: 30px; }
  @media (max-width: 1024px) {
    .main-portafolio {
      grid-template-rows: auto;
      padding: 2rem;
      margin: 2rem; }
      .main-portafolio .section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem; }
        .main-portafolio .section .image-left {
          margin-right: 0;
          margin-bottom: 1rem;
          order: 1; }
        .main-portafolio .section .text-left {
          font-size: 20px;
          text-align: center;
          order: 2; } }

.sobrenosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 4rem;
  margin: 4rem;
  border-radius: 10px; }
  .sobrenosotros .sn-titulo {
    grid-column: 1 / -1;
    text-align: center; }
    .sobrenosotros .sn-titulo h1 {
      color: #131313; }
  .sobrenosotros .sn-contenido {
    display: flex;
    align-items: center; }
    .sobrenosotros .sn-contenido .img-sn {
      margin-right: 1rem;
      max-width: 100%;
      height: auto; }
    .sobrenosotros .sn-contenido .p-sn {
      text-align: left; }
  @media (max-width: 1024px) {
    .sobrenosotros {
      grid-template-columns: 1fr;
      padding: 2rem;
      margin: 2rem; }
      .sobrenosotros .sn-titulo {
        text-align: left; }
        .sobrenosotros .sn-titulo h1 {
          color: #131313;
          font-size: 2rem; }
      .sobrenosotros .sn-contenido {
        flex-direction: column;
        align-items: center; }
        .sobrenosotros .sn-contenido .img-sn {
          margin-right: 0;
          margin-bottom: 1rem; }
        .sobrenosotros .sn-contenido .p-sn {
          text-align: left; } }
  @media (max-width: 768px) {
    .sobrenosotros .sn-titulo h1 {
      font-size: 1.5rem; }
    .sobrenosotros .sn-contenido .img-sn {
      width: 100%;
      height: auto; }
    .sobrenosotros .sn-contenido .p-sn {
      font-size: 1rem; } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  .card .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; }
  .card .social-button {
    background-color: #6600ff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    flex: 1 0 calc(50% - 2rem); }
  .card img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem; }
  @media (max-width: 768px) {
    .card .social-button {
      flex: 1 0 100%; } }

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .main-contacto form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .main-contacto form textarea {
      width: 30rem;
      height: 10rem;
      padding: 0.5rem;
      margin-bottom: 1rem; }
  @media (max-width: 1024px) {
    .main-contacto {
      align-items: center; }
      .main-contacto form {
        width: 80%; }
        .main-contacto form textarea {
          width: 100%; } }
  @media (max-width: 768px) {
    .main-contacto form {
      width: 90%; }
      .main-contacto form textarea {
        width: 100%;
        height: 8rem; } }
  @media (max-width: 480px) {
    .main-contacto form {
      width: 100%; }
      .main-contacto form textarea {
        width: 100%;
        height: 6rem; } }
