/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  //import

  @import "html/home";
  @import "html/portafolio";
  @import "html/sobrenosotros";
  @import "html/redes";
  @import "html/contacto";

  

  
