//variables
@import "../utilidades/variables";


// estilos generales del header y main

  @font-face {
    font-family: "chakra";
    src: url("../scss/font/chakra/ChakraPetch-Bold.ttf") format("truetype");
  }


  .cuerpo {
    background-image: url(../img/bg_index.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-principalfont;
    font-family: $family-font;

    // Estilos para tablets
    @media (min-width: 768px) and (max-width: 1024px) {
      background-size: 100vw 200vh;
    }
  }


  .navbar-brand {
    color: $color-principalfont;
  }

  .navbar-nav {
    .nav-link {
      color: $color-principalfont;
      
    }
  }

  .nav-item:hover {
    background-color: $background-hover;
    color: $color-principalfont;
    border-radius: 5px;
  }

  main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    background-color: $color-principalbg;
    padding: 4rem;
    margin: 4rem;
    border-radius: 10px;

    h1 {
      color: $color-principalfont;
    }

    h2 {
      color: $color-subtitulos;
    }

    // Estilos para tablets
    @media (max-width: 768px) {
      padding: 2rem;
      margin: 2rem;
      background-size: cover;
    }

    // Estilos para celulares
    @media (max-width: 480px) {
      padding: 1rem;
      margin: 1rem;
      background-size: cover;
    }
  }


  // estilos de footer

  footer {
    text-align: center;

    p {
      color: $color-principalfont;
    }

    // Estilos para tablets y celulares
    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

