//comentarios en SASS

//color de fondo 
$color-principalbg: rgb(15, 15, 15);

//color fuente nav

$color-principalfont: aliceblue;

// color de subtitulos

$color-subtitulos:  rgb(255, 0, 204);

//color de hover
$background-hover: rgb(255, 0, 247);

//tamaño de fuente titulo

$tamano-titulo: 30px;

//tamaño de fuente subtitulo

$tamano-subtitulo: 25px;

//margen izquierdo

$margenizq: 1rem;


    




